.noscript-popup {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3000;
    background-color: rgba(0, 0, 0, 0.3);
}

.noscript-popup p {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}